<!-- <p>{{data.title}}</p> -->
<div *ngIf="!loading">
    <div class="container">
        <div class="row mt-5" >
            <div class="col-md-8">
    
                <div class="big-card d-flex justify-content-between position-relative p-5 rounded-4" style="background-color: #F5F5F5;">
                    <span class="wish-icon position-absolute"><i class=" fa fa-2x "  (click)="clickEvent(data)" 
                        [ngClass]="{'fa-heart':data.wishList , 'fa-heart-o' : !data.wishList}"  ></i></span>
                    <div class="image w-100">
                        <img [src]="data.image" class="w-100" alt="">
                    </div>
                    <div class="productDetails px-5 position-relative">
                        <p>{{data.category}}</p>
                        <h2>{{data.title}}</h2>
                        <p >{{data.description}}</p>
                        <div class="rating-price d-flex justify-content-between mb-5">
                            <h4 class="item-price">$ <span class="fw-bold">{{data.price}}</span></h4>
                            <li class="list-inline-item rounded-5 h-50 px-2"  style='color: #fff'><i class="fa fa-star" style='color: #fff'></i> {{data.rating.rate}}</li>
                        </div>
    
                        <button class="btn btn-danger position-absolute bottom-0 end-0" (click)="addToCart(data)" (click)="showToastrCart()">Add To Cart <i class="fa fa-shopping-cart"></i></button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="text-center w-100 loading position-relative" *ngIf="loading">
    <app-spinner class="position-absolute top-50 end-50 start-50 bottom-50"></app-spinner>
</div>