<div class="xxx" *ngIf="!empty">
  <!-- <div class="row">
    <div class="col-md-8">
      
    </div>
  </div> -->
  <!-- <table class="table table-striped mt-3">

    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Raiting</th>
        <th scope="col">Total</th>
        
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of cartProduct ; let index=index">
        <tr>
          <th scope="row">{{product.id}}</th>
          <td scope="row" class="w-25 ">
            <img [src]="product.image" class="img-fluid img-thumbnail w-50" alt="">
          </td>
          <td class="w-25">{{product.title}}</td>
          <td>{{product.category}}</td>
          <td style="width: 7%;">$ {{product.price}}</td>
          <td>
            <div class="quantity d-flex justify-content-between">
              <button class="btn btn-dark" (click)="decreaseQuantity(index)">-</button>
              <input class="form-control w-50" type="number" (change)="detectChange()" [(ngModel)]="product.quantity" min="1" >
              <button class="btn btn-dark" (click)="increaseQuantity(index)">+</button>
            </div>
          </td>
          <td scope="row">
           
            <div class="crop" [style.width.px]="getRating(product.id)">
              <div style="width: 75px">
                <span class="fa fa-star" style='color: #f3da35'></span>
                <span class="fa fa-star" style='color: #f3da35'></span>
                <span class="fa fa-star" style='color: #f3da35'></span>
                <span class="fa fa-star" style='color: #f3da35'></span>
                <span class="fa fa-star" style='color: #f3da35'></span>
              </div>
            </div>
          </td>
          <td style="width: 7%;">$ {{(product.price * product.quantity).toFixed(2)}}</td>
         <td><button class="btn btn-danger" (click)="deleteProduct(index)">Delete</button></td>
  
        </tr>
      </ng-container>
  
  
    </tbody>

   
  </table>  -->

  <div class="container d-flex">
    <div class="row ">
      <div class="col-md-12 mt-4" *ngFor="let product of cartProduct | filter:key:'title' ; let index=index">
        <div class="products d-flex p-3 rounded-3" style="background-color: #F7F7FA;;">
          <div class="product-img pe-5" routerLink="/details/{{product.id}}">
            <img [src]="product.image" width="180ox" alt="">
          </div>
          <div class="product-text">
            <div class="product-text-upper">
              <div class="d-flex justify-content-between">
                <div class="title-category w-75">
                  <p>{{product.category}}</p>
                  <h3>{{product.title}}</h3>
                </div>
                <div class="delete-btn ">
                  <button type="button" class="btn btn-danger" (click)="deleteProduct(index)"><i
                    class="fa fa-solid fa-trash" style="color: #ffffff;"></i> Remove
                  </button>
                </div>
              
              </div>
              <p>$ <span class="fw-bold fs-3" >{{(product.price * product.quantity).toFixed(2)}}</span></p>
              
            </div>
            <div class="product-text-middle d-flex justify-content-between">
              <div class="desc">
                <p class="w-100 pe-4">{{product.description}}</p>
              </div>
              <div class="quantity ps-4 ">
                <button class="btn btn-dark w-45px" (click)="increaseQuantity(index)">+</button>
                <input class="form-control w-45px my-1"  (change)="detectChange()"
                  [(ngModel)]="product.quantity" min="1" placeholder="1">
                <button class="btn btn-dark w-45px" (click)="decreaseQuantity(index)">-</button>
              </div>
            </div>
            <div class="product-text-bottom d-flex justify-content-between">
  
              <div class="crop me-4 mt-2" [style.width.px]="getRating(product.id)">
                <div style="width: 75px">
                  <span class="fa fa-star" style='color: #f3da35'></span>
                  <span class="fa fa-star" style='color: #f3da35'></span>
                  <span class="fa fa-star" style='color: #f3da35'></span>
                  <span class="fa fa-star" style='color: #f3da35'></span>
                  <span class="fa fa-star" style='color: #f3da35'></span>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
  
  
    </div>

    <div class="col-md-4">
      <div class="checkout-card p-4 rounded-4 w-90 m-5">
        <h3 style="color: #404553">Order Summary</h3>
        <div class="total d-flex justify-content-between fw-bold fs-4" style="color: #404553;">
          <p >Total</p>
          <span>$ {{total}}</span>
        </div>
        <div class="shopping-details d-flex justify-content-between">
          <p class="fw-bolder">Shipping Details</p>
          <span class="fw-bolder" style="color: #3866DE;">Free</span>
        </div>

        <button class="btn text-white w-100 mt-4" (click)="login()" style="background-color: #3866DE;">Check Out</button>
    
      </div>
    </div>
  </div>
  

</div>

<div class="empty-cart" *ngIf="empty">
  <img src="../../../assets/images/emptyCart.jpeg" alt="">
</div>

<!-- <div class="container">

  <div class="row">
    <div class="col-md-8">
      <div class="product-img">
        <img src="" alt="">
      </div>
      <div class="product-content">
        <p>category</p>
        <h2>title</h2>
      </div>

    </div>
    <div class="col-md-4">

    </div>
  </div>

</div> -->