
.card :hover img{
    transform: scale(1.3);
}
.card img{
    transition: all 0.7s;

}

.card{

    overflow: hidden;
    flex: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-box {
    overflow: hidden;
}

.thumb-content {
    flex-grow: 1;
}

h5{
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.star-rating li{
    background-color: rgb(130, 174, 4);
    font-size: small;
}

/* .wish-icon{
    top: 5%;
    right: 80%;
    cursor: pointer;
    z-index: 99999;
} */
.card{
    background-color: #F5F5F5;
}