<!-- <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner bg-danger">
      <div class="carousel-item active d-flex justify-content-center">
        <img src="../../../assets/images/cropped-logoFinalFinal.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item active d-flex justify-content-center">
        <img src="../../../assets/images/cropped-logoFinalFinal.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item active d-flex justify-content-center">
        <img src="../../../assets/images/cropped-logoFinalFinal.jpg" class="d-block w-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<h1>caads</h1> -->

<div id="carouselExampleIndicators" class="carousel slide p-5" data-bs-ride="carousel" style=" background-color: #F5F5F5;">
    <div class="carousel-indicators  align-items-center ">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
            class="active bg-dark-subtle" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" class="bg-dark-subtle" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>

    </div>
    <div class="carousel-inner h-100">
        <div class="carousel-item active h-100 ">
            <div class="row">
                <div class="col-md-3 ">
                    <a routerLink="/categories/electronics" routerLinkActive="active">
                        <div class="card rounded-5 p-4 border-0 bg-white" style="width: 18rem;  background-color: #F5F5F5;">
                            <div class="img-container">
                                <img src="../../../assets/images/electronics.png" class="card-img-top" alt="...">
                            </div>
                           
                          </div>
                          <!-- <app-card></app-card> -->
                    </a>
                   
                </div>
                <div class="col-md-3">
                    <div class="card rounded-5 p-4 border-0 bg-white" style="width: 18rem;  background-color: #F5F5F5;">
                        <div class="img-container">
                            <img src="../../../assets/images/jewelery.jpeg" class="card-img-top" alt="...">
                        </div>
                       
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card rounded-5 p-4 border-0 bg-white" style="width: 18rem;  background-color: #F5F5F5;">
                        <div class="img-container">
                            <img src="../../../assets/images/men's clothing.png" class="card-img-top" alt="...">
                        </div>
                       
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card rounded-5 p-4 border-0 bg-white" style="width: 18rem;  background-color: #F5F5F5;">
                        <div class="img-container">
                            <img src="../../../assets/images/women's clothing.png" class="card-img-top" alt="...">
                        </div>
                       
                      </div>
                </div>

               
            </div>
           
        </div>
        <div class="carousel-item h-100 ">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/cropped-logoFinalFinal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

    </div>



</div>