/* You can add global styles to this file, and also import other style files */
.dm-serif{
    font-family: 'DM Serif Display', serif;
    font-size: xx-large;
}
html, body { height: 100%;}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} */
